Всякое с обучения/23_linear_model/data/vehicles_dataset_prepared.csv
Всякое с обучения/20_feature_engineering/homework/data/vehicles_dataset_prepared.csv
Всякое с обучения/28_evaluation/data/gensim.pickle
